p, p2, p3 , p4 {

font-size: 20px;
color: pink;
font_ famly: monospace;
}


h1,h2 {

font-size: 28;
color: white;
font-family: monospace;
}


body {
  background-image: url("http://49.media.tumblr.com/25c1e9251637641194c3b081999b4783/tumblr_nzm93gRv3N1txt22yo1_500.gif");
  background-repeat: repeat-0;
}
